commands:
  01_download_libreoffice:
    cwd: /home/ec2-user
    command: wget https://www.libreoffice.org/donate/dl/rpm-x86_64/5.4.3/en-US/LibreOffice_5.4.3_Linux_x86-64_rpm.tar.gz
  10_extract_libreoffice:
    cwd: /home/ec2-user
    command: tar xzf LibreOffice_5.4.3_Linux_x86-64_rpm.tar.gz
  20_install_libreoffice:
    cwd: /home/ec2-user/LibreOffice_5.4.3_Linux_x86-64_rpm/RPMS
    command: sudo yum --nogpgcheck localinstall *.rpm
